VITE_CLIENT_PORT=8080
VITE_SERVER_PORT=3000
VITE_NODE_ENV="production"
VITE_DEVELOPMENT_SERVER="http://localhost"
VITE_PRODUCTION_SERVER=https://appointment-booking-system-server-kd66.onrender.com
VITE_FIREBASE_API_KEY=**************************
VITE_FIREBASE_AUTH_DOMAIN=*********
VITE_FIREBASE_PROJECT_ID=**********
VITE_FIREBASE_STORAGE_BUCKET=***************
VITE_FIREBASE_MESSAGING_SENDER_ID=*******************
FIREBASE_APP_ID=****************************8